<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= render 'layouts/stylesheets' %>
</head>
<body>
<div class="container">
	<div id="header">
		 z<%= render 'layouts/header' %>
	</div>
	<div id="content" class="round">
		<%=yield%>
	</div>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>